* {
	--bg: #fff;
	--header-footer-padding: 1em;
	--header-bg: #F7E5B3;
	--header-fg: #000000;
	--section-brightness: 0.5;
	--section-blur: 10px;
	--section-fg: #fff;

	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	scroll-behavior: smooth;
}

.coconut { color: #F6EAD1 }
.oat { color: #FFF3C3 }
.logo {
	width: 7em;
	aspect-ratio: 1 / 1;
}
#instagram-icon {
	aspect-ratio: 1 / 1;
	height: 2em;
	padding: .25em;
	border-radius: 1em;
	fill: var(--header-fg);
	transition:
		fill .25s,
		background .25s;
}
a:hover > #instagram-icon {
	fill: var(--header-bg);
	background: var(--header-fg);
}
h1 {
	text-align: center;
	margin-top: 5em;
}
html, body {
	overflow: hidden;
	margin: 0px;
}

main {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem); 
	background: var(--header-bg);
}

/* Header */
header {
	padding: 0em 2em;
	display: flex;
	align-items: center;
	background: var(--header-bg);
	color: var(--header-fg);
	scroll-snap-align: start;
		   
}

header > div {
	padding: 1em;
	display: flex;
	align-items: center;
}

#slidemenu a {
	text-align: center;
}

#slidemenu a, header a:not(:has(.logo)) {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3em;
	margin: 0px 2em;
	padding: 1em;
	padding: 0.25em;
	color: var(--header-fg);
	background: var(--header-bg);
	transition:
		color .25s,
		background .25s;
}

header a:not(:has(.logo)):hover {
	background: var(--header-fg);
	color: var(--header-bg);
}

header .logo { margin-right: 2em }


/* Sections */
section {
	scroll-snap-align: start;
	height: 100vh;
	font-size: 3vh;
	padding: 0px clamp(1rem, 10%, 100%);
	overflow: hidden;
	position: relative;
	color: var(--section-fg);
	display: grid;
}

section > * {
	justify-self: center;
	z-index: 1;
}

section > *:nth-child(1) { align-self: flex-end; }
section > *:nth-child(2) { align-self: flex-start; }
section h2 {
	font-size: 2em;
	text-align: center;
	justify-self: center;
}

section p {
	font-size: 1em;
	text-align: center;
}

section .logo {
	height: 20vh;
	width: 20vh;
}

.section-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2em;
}

section::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	z-index: 0;
	display: block;
	background-size: cover;
	width: 100%;
	height: 100%;
	filter: blur(var(--section-blur)) brightness(var(--section-brightness));
	-webkit-filter: blur(var(--section-blur)) brightness(var(--section-brightness));
	-moz-filter: blur(var(--section-blur)) brightness(var(--section-brightness));
	-o-filter: blur(var(--section-blur)) brightness(var(--section-brightness));
	-ms-filter: blur(var(--section-blur)) brightness(var(--section-brightness));
	transform: scale(1.1);
}


#preview::before { background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-mMt4yJrtdgE%2FTbka7uOlQhI%2FAAAAAAAAAP8%2Fg-3NOAszo-g%2Fs1600%2Fcool%252Bice%252Bcreams%252B%2525285%252529.jpg&f=1&nofb=1&ipt=061e9e79cbc9555a4c7b43eb4eedbdd85a7390e85646d4118c0587a3db6e2895&ipo=images"); }
#jeruk::before { background-image: url("./assets/jeruk.jpg"); }
#kopi::before { background-image: url("./assets/kopi.jpg"); }
#cincau::before { background-image: url("./assets/cincau.jpg"); }
#jeruk > h2 { color: #FFE20B; }
#kopi > h2 { color: #BA9D83; }
#cincau > h2 { color: #84766A; }

/* Footer */
footer {
	background: var(--header-bg);
	color: var(--header-fg);
	padding: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer a svg {
	float: right;
	vertical-align: middle;
}
footer p {
	display: inline;
	text-align: left;
	vertical-align: middle;
}


/* Reference from https://codepen.io/alvarotrigo/pen/PoKMyzO */
.logo-text {
	color: transparent;
	font-weight: bold;
	-webkit-text-stroke: 2px #fff;
	position: relative;
}

.logo-text::before {
	content: "Parad'ice";
	color: #fff;
	animation: milk 4s ease-in-out infinite;
	position: absolute;
}

#slidemenu {
	overflow: hidden;
	transition:
		opacity 1s ease-in-out,
		height 1s ease-in-out;

}

@keyframes milk {
	0%, 100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}
	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

@media screen and (min-width: 700px) {
	#slidemenu, #slidemenu-btn { display: none; }
}

@media screen and (max-width: 700px) {
	header a:not(:has(.logo)) { display: none; }
	#slidemenu-btn {
		display: block;
		border: none;
		 background: var(--header-bg);
		 aspect-ratio: 1 / 1;
		 height: 5em;
	 }
	 #slidemenu-btn:hover { color: var(--header-fg); }
	 #slidemenu-btn > span { font-size: 2em; }
	 #slidemenu {
		 display: grid;
		 grid-template-rows: 1fr 1fr 1fr;
		 width: 100%;
		 z-index: 1;
		 background: var(--header-bg);
		 font-size: 0rem;
		 opacity: 0;
		 transition:
			 opacity .25s .25s ease-in-out,
			 font-size .25s ease-in-out;
	 }

	 #slidemenu > * {
		 border-bottom: .125em solid #00000010;
		 grid-column: span 2;
	 }

	 header { border-bottom: .125em solid #00000010; }
 }
